* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    font-weight: 700;
    min-height: 0;
}

window#waybar {
    color: #cdd6f4; /* text */
    background-color: #1e1e2e; /* base */
}

#workspaces {
    margin: 0 0px;
    padding: 0 0px;
}

#workspaces button {
    color: #cdd6f4; /* text */
    padding: 0 12px;
}

#workspaces button.focused {
    color: #f5e0dc; /* rosewater */
    border-bottom: 3px solid #f5e0dc; /* rosewater */
}

#workspaces button.urgent {
    color: #f38ba8; /* red */
    border-bottom: 3px solid #f38ba8; /* red */
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    transition-duration: inherit;
    color: #f5e0dc; /* rosewater */
    background: #1e1e2e; /* base */
    border-bottom: 3px solid #f5e0dc; /* rosewater */
}

#mode,
#clock,
#network,
#custom-mullvad,
#pulseaudio,
#idle_inhibitor,
#battery,
#tray {
    padding: 0 10px;
    margin: 0 0px;
}

#mode {
    font-style: italic;
    color: #f38ba8; /* red */
}

#clock {
    border-bottom: 3px solid #cba6f7; /* mauve */
}

#network {
    border-bottom: 3px solid #eba0ac; /* maroon */
}

#custom-mullvad {
    border-bottom: 3px solid #fab387; /* peach */
}

#pulseaudio {
    border-bottom: 3px solid #f9e2af; /* yellow */
}

#idle_inhibitor {
    border-bottom: 3px solid #a6e3a1; /* green */
}

#battery {
    border-bottom: 3px solid #94e2d5; /* teal */
}

#tray {
    border-bottom: 3px solid #89b4fa; /* blue */
}
